<h1>Order <%= @order.id %></h1>

<%= render 'orders/basic_info' %>

<div class="row">
  <h4>Order Status</h4>
  <h5><span class="text-info"><%= @order.status %></span></h5>
</div>

<div class="row">
  <h4>Shipping Address</h4>
  <h5>Street <span class="text-info"><%= @order.order_shipping_address.street_address %></span></h5>
  <h5>City <span class="text-info"><%= @order.order_shipping_address.city.name %></span></h5>
  <h5>State <span class="text-info"><%= @order.order_shipping_address.state.name %></span></h5>
</div>

<div class="row">
  <h4>Billing Address</h4>
  <h5>Street <span class="text-info"><%= @order.order_billing_address.street_address %></span></h5>
  <h5>City <span class="text-info"><%= @order.order_billing_address.city.name %></span></h5>
  <h5>State <span class="text-info"><%= @order.order_billing_address.state.name %></span></h5>
</div>

<div class="row">
  <h4>Billing Card</h4>
  <h5>Last 4 Digits <span class="text-info"><%= @order.user.credit_card.card_number %></span></h5>
</div>

<%= link_to "Edit", edit_order_path(@order) ,class: 'btn btn-xs btn-primary'%></td>
<%= link_to "Delete", orders_path, method: 'delete', :data => {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-xs btn-danger' %>


<br>

<div class="row">
<h4>Order Contents</h4>
<table class="table-bordered">
  <tr>
    <th>ProductID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
  </tr>
  <% @order.order_contents.each do |oc| %>
    <tr>
      <td><%= oc.product_id %></td>
      <td><%= link_to oc.product.name, product_path(oc.product) %></td>
      <td><%= oc.quantity %></td>
      <td>$<%= oc.product.price %></td>
      <td>$<%= oc.product_total_price %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to "Edit", edit_order_path(@order) ,class: 'btn btn-xs btn-primary'%></td>
<%= link_to "Delete", orders_path, method: 'delete', :data => {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-xs btn-danger' %>
  
</div>








